.form-box {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.form-input {
  width: 220px;
  padding: 5px 20px;
  border: none;
  border-radius: 3px;
  background-color: rgb(219, 219, 219);
  font-size: 32px;
  box-shadow: 8px 8px 22px -5px rgba(34, 60, 80, 0.6);
}
.form-label {
  position: relative;
}
.label-span {
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 10px;
  overflow: hidden;
  color: #fff;
}
.form-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 3px;
  background-color: rgb(44, 145, 41);
  color: #fff;
  font-size: 26px;
  cursor: pointer;

  &:disabled {
    background-color: rgb(190, 22, 22);
  }
}
