.theme-folder{
    width: 101px;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #0B0C27;

    background: linear-gradient(106.61deg, rgba(98, 35, 177, 0.6) 1.81%, rgba(193, 32, 233, 0.28) 98.72%), #5EEDE4;
    border-radius: 12px;
}

